
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 10;

  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url('/bg-car.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 11;
}


.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 10;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #0d0526;
  font-weight: 500;
  font-size: 20.5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.nav-links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #ff4d4d, #ff9900, #ff4d4d);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1.5s ease-in-out;
  box-shadow: 0 0 10px rgba(129, 32, 32, 0.6);
}

.nav-links a:hover {
  color: #060269;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.nav-links a.active::before {
  transform: scaleX(1);
  animation: rocket-glow 1s ease-in-out forwards;
}

@keyframes rocket-glow {
  0% {
    transform: scaleX(0);
    opacity: 0;
    box-shadow: 0 0 2px #04034d;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
    box-shadow: 0 0 8px #06346f, 0 0 10px #304df1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
    box-shadow: 0 0 4px #a93e3e, 0 0 8px #ff9900;
  }
}


.right-section {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .nav-links a {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
  }
}

@media (max-width: 460px) {
  .nav-links {
    gap: 8px;
  }

  .nav-links a {
    font-size: 0.85rem;
    padding: 0.35rem 0.5rem;
  }
}










